.center_win {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -222px;
    margin-left: -222px;
}
i.icon.icon-ant{width:29px;height:29px;background-image:url(../img/i-ant.png)}
i.icon.icon-compass{width:29px;height:29px;background-image:url(../img/i-compass.png)}